.announce{
    font-size: 14px;
    font-weight: 300;
    color: rgb(211, 203, 203);
}

.alert{
    margin-top: 15px;
    font-size: 18px;
    color: #f77a8f;
}

.theme{
    margin-top: 25px;
    font-weight: 200;
    color: #e7c3d1d3;
}

.hashtag{
    color: rgb(116, 116, 160);
}

.register-button{
    margin-bottom: 15px;
}

.prize-pool {
    font-size: 15px;
    font-weight: 200;
    color: #e7c3d1d3;
    text-align: center;
}

.prize-amount {
    font-weight: 600;
    color: #f77a8f; /* Matching the alert text color */
}